---
import Layout from '@/layouts/Layout.astro';
import WhoWeAre from "@/components/WhoWeAre.astro";
import OurWork from "@/components/OurWork.astro";
import Contact from "src/components/Contact.astro";
---

<Layout title="Creativos Marketing CR">
	<main>
		<WhoWeAre />
		<OurWork />
		<Contact />
	</main>
</Layout>
