---
import Layout from '@/layouts/Layout.astro';
import WhoWeAre from "@/components/WhoWeAre.astro";
import OurWork from "@/components/OurWork.astro";
---

<Layout title="Creativos Marketing CR">
	<main>
		<WhoWeAre />
	</main>
</Layout>
