---
---
<section class="flex items-center py-16">
    <div class="p-4 mx-auto max-w-7xl">
        <div class="mx-auto mb-16 border-b border-secondary-v2 w-44"></div>
        <div class="flex flex-wrap -m-1 md:-m-2">
            <div class="w-full px-4 sm:w-1/3">
                <div class="mb-8 ">
                    <a href="#">
                        <div class="relative mb-5 overflow-hidden">
                            <img class="object-cover w-full h-[250px] lg:h-[450px] transition duration-500   group-hover:origin-center hover:scale-105"
                                 src="https://i.postimg.cc/Y23w2gc1/pexels-ricardo-esquivel-1586298.jpg" alt="">
                        </div>
                    </a>
                </div>
                <div class="mb-8">
                    <a href="#">
                        <div class="relative mb-5 overflow-hidden">
                            <img class="object-cover w-full h-[250px] transition duration-500  group-hover:origin-center hover:scale-105"
                                 src="https://i.postimg.cc/xTy9B753/pexels-christina-morillo-1181605.jpg" alt="">
                        </div>
                    </a>
                </div>
            </div>
            <div class="w-full px-4 sm:w-1/3 ">
                <div class="mb-8 ">
                    <a href="#">
                        <div class="relative mb-5 overflow-hidden">
                            <img class="object-cover w-full h-[250px] transition duration-500  group-hover:origin-center hover:scale-105"
                                 src="https://i.postimg.cc/fbT9FYhB/pexels-stijn-dijkstra-2583852.jpg" alt="">
                        </div>
                    </a>
                </div>
                <div class="mb-8 ">
                    <a href="#">
                        <div class="relative mb-5 overflow-hidden">
                            <img class="object-cover w-full h-[250px] lg:h-[450px]  transition duration-500  group-hover:origin-center hover:scale-105"
                                 src="https://i.postimg.cc/j5L5bX2d/pexels-andrea-piacquadio-3757946.jpg" alt="">
                        </div>
                    </a>
                </div>
            </div>
            <div class="w-full px-4 sm:w-1/3 ">
                <div class="mb-8 ">
                    <a href="#">
                        <div class="relative mb-5 overflow-hidden">
                            <img class="object-cover w-full h-[250px] lg:h-[450px] transition duration-500  group-hover:origin-center hover:scale-105"
                                 src="https://i.postimg.cc/rpbTSLyM/pexels-andrea-piacquadio-3760263.jpg" alt="">
                        </div>
                    </a>
                </div>
                <div class="mb-8 ">
                    <a href="#">
                        <div class="relative mb-5 overflow-hidden">
                            <img class="object-cover w-full h-[250px] transition duration-500  group-hover:origin-center hover:scale-105"
                                 src="https://i.postimg.cc/9MQr82ZS/pexels-james-wheeler-417074-1.jpg" alt="">
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
