---
import {Image} from "astro:assets";
import ServiciosIcon from "@/assets/services.webp"
---
<section class="max-w-screen-lg max-auto mx-auto px-4 mt-20">
    <h2 class="font-bold py-2 px-5 text-third text-5xl mb-8 text-center">NUESTROS SERVICIOS!</h2>
    <div class="grid grid-cols-1 sm:grid-cols-3 gap-6 items-center justify-items-center mt-14">
        <article class="grid grid-cols-2 text-center gap-3 animate-fade animate-once animate-duration-300 animate-delay-0">
            <p class="min-h-14 flex justify-center items-center text-base bg-primary text-white font-light text-pretty rounded py-2 px-5">Activaciones BTL</p>
            <p class="min-h-14 flex justify-center items-center text-base bg-primary text-white font-light text-pretty rounded py-2 px-5">Impulsación de marca | Edecanes</p>
        </article>
        <Image src={ServiciosIcon} alt="Nustro servicio"  class="aspect-auto animate-fade-left animate-once animate-duration-500 animate-delay-[1000ms] animate-ease-in-out"/>
        <article class="grid grid-cols-2 text-center gap-3 animate-fade animate-once animate-duration-300 animate-delay-0">
            <p class="min-h-14 flex justify-center items-center text-base bg-primary text-white font-light text-pretty rounded py-2 px-5">Marketing Digital</p>
            <p class="min-h-14 flex justify-center items-center text-base bg-primary text-white font-light text-pretty rounded py-2 px-5">Eventos Empresariales</p>
        </article>
    </div>
</section>
