---
import {Image} from "astro:assets";
import QuienesSomosIcon from "@/assets/quienes-somos.webp"
import SomosIcon from "@/assets/somos.webp"
---

<section class="max-w-screen-lg max-auto mx-auto px-4 my-4">
    <div class="grid grid-cols-1 sm:grid-cols-3 gap-6 items-center justify-items-center">
    <article class="flex flex-col text-center md:text-end gap-3 col-span-2 animate-fade animate-once animate-duration-300 animate-delay-0">
        <h3 class="font-bold text-white text-3xl">QUIENES SOMOS?</h3>
        <p class="text-lg font-semibold text-black text-balance">
            Somos lo que su empresa necesita, 3 apasionados del mercadeo, nos conocimos justamente trabajando en BTL, impulsando marcas y decidimos emprender un viaje con nuestra propia agencia publicitaria.
        </p>
    </article>
        <Image src={QuienesSomosIcon} alt="Creativos Marketing Desarrollo Software"  class="aspect-auto animate-fade-left animate-once animate-duration-500 animate-delay-[1000ms] animate-ease-in-out"/>
    </div>

    <div class="grid grid-cols-1 sm:grid-cols-3 gap-6 items-center justify-items-center mt-16">
        <article class="grid w-full md:w-auto grid-cols-1 md:grid-cols-2 text-start gap-3 col-span-2 animate-fade animate-once animate-duration-300 animate-delay-0">
            <h3 class="bg-black text-white font-bold rounded shadow-2xl text-center py-2 px-5 text-3xl">Talento</h3>
            <h3 class="bg-white text-black font-bold rounded shadow-2xl text-center py-2 px-5 text-3xl">Inteligencia</h3>
            <h3 class="bg-black text-white font-bold rounded shadow-2xl text-center py-2 px-5 text-3xl">Excelencia</h3>
            <h3 class="bg-white text-black font-bold rounded shadow-2xl text-center py-2 px-5 text-3xl">Oportunidad</h3>
        </article>
        <Image src={SomosIcon} alt="Creativos Marketing Desarrollo Software"  class="aspect-auto row-auto md:row-start-1 animate-fade-right animate-once animate-duration-500 animate-delay-[1000ms] animate-ease-in-out"/>
    </div>
</section>